<h2 style="margin-top: 1vh">Profiles for this user</h2>
<br />
<div>
	<% if (errorMessage) { %>
	<h2 style="color: red; margin-bottom: 3vh"><%= errorMessage %></h2>
	<% } %>
	<a type="button" href="/profiles/new"> New profile </a>
	<br style="margin-bottom: 10vh" />
	<div style="display: flex; gap: 10vw">
		<% profiles.forEach(profile => { %>
		<div>
			<div><%= profile.name %></div>
			<a type="button" href="/profiles/<%= profile.id %> " style="margin-top: 2vh"> View </a>
			<a type="button" href="/profiles/<%= profile.id %>/edit " style="margin-top: 2vh">
				Edit
			</a>
			<%- include('../partials/deleteForm', {url: `/profiles/${profile.id}` }) %>
		</div>
		<% }) %>
	</div>
</div>
