<a type="button" href="/profiles" style="margin-top: 2vh"> Profiles </a>
<div style="display: flex; justify-content: center; align-items: center">
	<form action="/profiles/<%= profile.id %>/movies/search" method="GET">
		<input type="text" name="query" placeholder="Search Movie" />
		<button type="submit" style="margin-top: 2vh">Search</button>
	</form>
</div>
<h2><%= profile.name %></h2>
<a type="button" href="<%= profile.id %>/movies/recommended" style="margin-top: 2vh">
	Recommend Movies
</a>
<a type="button" href="<%= profile.id %>/movies/watchlist" style="margin-top: 2vh"> Watchlist </a>
<a type="button" href="<%=profile.id%>/movies/watched" style="margin-top: 2vh"> Watched </a>
<br />
<div style="display: flex">
	<%- include('../partials/deleteForm', { url: `/profiles/${profile.id}` }) %>
	<a
		type="button"
		href="/profiles/<%= profile.id %>/edit"
		style="margin-top: 2vh; margin-left: 1vw"
	>
		Edit
	</a>
</div>
